{% extends 'base.html' %}

{% block title %}Create a PDF{% endblock %}

{% block content %}
    <h2>Create a PDF</h2>

    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>
    Enter text below and click Create to generate and download a PDF.
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>

{% endblock %}
